<ion-header>
  <ion-toolbar>
    <ion-item routerLink="/home">
    <ion-icon name="arrow-undo"></ion-icon>
  </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="t1">O TELEFONE PRETO</ion-card-title>
      <br />

      <ion-thumbnail>
        <img
          class="img1"
          src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yw6H4C64tjBWlyKFG1pzmq5zOQh.jpg"
        />
      </ion-thumbnail>


      <ion-list>
        <ion-item>
          <ion-label>
            23/06/2022 (BR)</ion-label>

        </ion-item>
        <ion-item>
          <ion-label>Terror, Thriller
          </ion-label>

        </ion-item>
        <ion-item>
          <ion-label>1h 43m</ion-label>

        </ion-item>
      </ion-list>
<br>
      <ion-badge color="warning">16</ion-badge>

      <h5>Sinopse</h5>
      <p>Após ter sido raptado por um assassino de crianças e trancado numa cave à prova de som, Finney Shaw um menino de 13 anos começa a receber chamadas num telefone desligado das vítimas anteriores do assassino. E eles estão determinados a garantir que o que aconteceu com eles não aconteça com Finney.</p>
    </ion-card-header>
  </ion-card>

</ion-content>
