.img1 {
  height: 100%;
  border-radius: 15px;
}

ion-thumbnail {
  height: 100%;
  width: 100%;
  --size: 10;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  font-family: Impact, fantasy;
}

.t1 {
  text-align: center;
  font-family: Stencil Std, fantasy;

}

h5{
  text-align: center;
  font-family: Stencil Std, fantasy;
  color:black;
}

p {
  color:black;
}


