<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item routerLink="o-telefone-preto">
    <ion-thumbnail slot="start">
      <img
        class="img"
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/vqaq3mYQ7oxZM4CCHuevUoQLs4C.jpg"
      />
    </ion-thumbnail>
    <ion-label>
      <h1>O Telefone Preto</h1>
      <br />
      <ion-chip color="dark">
        <ion-label color="dark">23/06/2022 (BR) </ion-label>
      </ion-chip>
    </ion-label>

  </ion-item>





</ion-content>



